<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>About - Zeesain</title>
    <meta name="description" content="">
    <meta name="author" content="">

{% include 'base-1.html' %}

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="images/thumbs/about/about-1000.jpg" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        关于我
                        </h1>
                    </div> <!-- end content__page-header -->

                    <div class="entry__content">
                        <h2>我是谁</h2>

                        <ul>
                            <li>江湖外号<strong>赵铁柱</strong></li>
                            <li><strong>电信、翻译专业学生</strong>，智科院 & 翻院之耻</li>
                            <li><strong>业余摄影师</strong>，主风光建筑</li>
                            <li><strong>非死宅人群</strong>，游走在二次元边缘</li>
                            <li><strong>德云社老票友</strong>，从小听到大</li>
                            <li>喜欢听贝多芬、巴赫，品味古老，新歌少听</li>
                        </ul>

                        <h2>关于这个博客</h2>

                        <ul>
                            <li>IT 方向的技术分享与思考总结</li>
                            <li>生活日常，想法的聚集地</li>
                            <li>分享自己的知识和见解</li>
                        </ul>

                        <p>
                        随便写自己的日常以及一些脑洞和想法；作为一个学习党，同时也记录一下自己一路走来的心路历程和发展路径。本人比较杂，所以写的东西也会比较杂。
                        </p>

                        <h2>联系方式</h2>

                        <ul>
                            <li>clarenceehsu@163.com</li>
                            <li><a href="https://github.com/clarenceehsu">Github</a></li>
                        </ul>

                        <h2>关于博客</h2>

                        <ul>
                            <li>由 Django + Nginx 搭建，托管于<a href="https://www.aliyun.com">阿里云</a></li>
                            <li>本站内容采用<a href="http://creativecommons.org/licenses/by-sa/4.0/">知识共享署名-相同方式共享 4.0 国际许可协议</a>进行许可，<strong>转载引用请注明本站出处</strong>。</li>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
                        </ul>
                    </div>
                
                </section>

            </main>

        </div> <!-- end s-content -->

{% include 'base-2.html' %}