        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright 2019. Made By Zeesain Tsui with ❤.</span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="/static/blog/js/jquery-3.2.1.min.js"></script>
    <script src="/static/blog/js/plugins.js"></script>
    <script src="/static/blog/js/main.js"></script>

</body>