<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ post.title }} - Zeesain</title>
    <meta name="description" content="">
    <meta name="author" content="">

{% include 'base-1.html' %}

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

                    <div class="media-wrap entry__media">
                        <div class="entry__post-thumb">
                            <img src="{{ post.img }}" alt="">
                        </div>
                    </div>

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                        {{ post.title }}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="date">{{ post.created_time }}</li>
                            <li class="cat-links">
                                <a href="#0">{{ post.category.name }}</a>
                            </li>
                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">
                        {{ post.body|safe }}
                    </div> <!-- end entry content -->

                </article> <!-- end column large-full entry-->


                <div class="comments-wrap">

                </div> <!-- end comments-wrap -->
            </main>

        </div> <!-- end s-content -->
        
{% include 'base-2.html' %}