<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Zeesain Tsui's Blog</title>
    <meta name="description" content="A Zeesain Tsui's Blog.">
    <meta name="author" content="Zeesain Tsui">

{% include 'base-1.html' %}

        <div class="s-content">
            
            <div class="masonry-wrap">

                <div class="masonry">
    
                    <div class="grid-sizer"></div>

                    <article class="masonry__brick entry format-quote animate-this">
                            
                        <div class="entry__thumb">
                            <blockquote>
                                <p>波光里的艳影，是夕阳下的新娘。</p>
    
                                <cite>徐志摩</cite>
                            </blockquote>
                        </div>   
        
                    </article> <!-- end article -->

					<!-- xxxxxxxxxxx -->
					{% for time, title, image in post_list %}
                    <article class="masonry__brick entry format-standard animate-this">
                            
                        <div class="entry__thumb">
                            <a href="/blog/lab/{{ title }}" class="entry__thumb-link">
                                <img src="{{ image }}" 
                                        alt="">
                            </a>
                        </div>
        
                        <div class="entry__text">
                            <div class="entry__header">
    
                                <h2 class="entry__title"><a href="/blog/lab/{{ title }}">{{ title }}</a></h2>
                                <div class="entry__meta">
                                    {% comment %} <span class="entry__meta-cat">
                                        <a href="category.html">{{ post.category.name }}</a>
                                    </span> {% endcomment %}
                                    <span class="entry__meta-date">
                                        <a href="#">{{ time }}</a>
                                    </span>
                                </div>
                                
                            </div>
                            {% comment %} <div class="entry__excerpt">
                                <p>
                                {{ post.excerpt }}
                                </p>
                            </div>
                        </div> {% endcomment %}
        
                    </article> <!-- end article -->
                    {% empty %}
						<div class="no-post">暂时还没有发布的文章！</div>
					{% endfor %}
                    <!-- xxxxxxxxxxx -->
    
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="column large-full">
                    <nav class="pgn">
                        <ul>
                        {% if post_num == 1 %}
                            <li><span class="pgn__num current">1</span></li>
                        {% endif %}
                        {% if list_num != 1 and list_num != post_num %}
                            <li><a class="pgn__prev" href="/blog/page/{{list_num|add:-1}}">Prev</a></li>
                        {% endif %}
                        {% for i in post_num %}
                            {% if i == list_num %}
                                <li><span class="pgn__num current">{{ i }}</span></li>
                            {% else %}
                                <li><a class="pgn__num" href="/blog/page/{{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if list_num != final_num %}
                            <li><a class="pgn__next" href="/blog/page/{{list_num|add:1}}">Next</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->

{% include 'base-2.html' %}